::root {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8f8f8f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

html {
  background-color: #151515;
}

body {
  margin: 0;
  color: white;
  width: 100dvw;
  height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trigger {
  width: 100%;
  height: 100%;
  display: hidden;
  background: none;
  cursor: pointer;
}

.rpv_overlay {
  position: absolute;
  z-index: 20;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.58);
  display: flex;
  width: 100%;
  .rpv_overlay_inner {
    width: 80%;
    overflow-x: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-style: italic;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .rpv_overlay_copy {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}

.drag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.18);
  cursor: default;
  --wails-draggable: drag;

  .control__inner {
    display: flex;
    align-items: safe;
    justify-content: space-between;
    strong {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.modal__active {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.98);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 60%;
  height: 70%;
  z-index: 3000;

  border-radius: 10px;
  padding: 10px;
  color: white;
  display: none;
  h1 {
    font-size: 1.5rem;
  }
  ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 0.7rem;
    max-height: 80%;
    overflow-y: auto;
    li {
      margin-bottom: 10px;
      kbd {
        display: inline;
        background-color: #444;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 3px;
        margin-right: 5px;
      }
      p {
        display: inline;
      }
    }
  }
}

.yt {
  height: 100dvh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .yt__fg,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .yt__fg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .yt__fg {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
